In [30]:
import pandas as pd

In [31]:
df1 = pd.read_csv('D:/OneDrive/DS_Projects/Movie_Statistics_Project/NetflixOriginals.csv', encoding='latin-1')

In [34]:
print(df1)

                                           Title                  Genre  \
0                                Enter the Anime            Documentary
1                                    Dark Forces               Thriller
2                                        The App  Science fiction/Drama
3                                 The Open House        Horror thriller
4                                    Kaali Khuhi                Mystery
..                                           ...                    ...
579        Taylor Swift: Reputation Stadium Tour           Concert Film
580  Winter on Fire: Ukraine's Fight for Freedom            Documentary
581                      Springsteen on Broadway           One-man show
582    Emicida: AmarElo - It's All For Yesterday            Documentary
583     David Attenborough: A Life on Our Planet            Documentary

              Premiere  Runtime  IMDB Score                  Language
0       August 5, 2019       58         2.5          English/Japanese
1      August 21, 2020       81         2.6                   Spanish
2    December 26, 2019       79         2.6                   Italian
3     January 19, 2018       94         3.2                   English
4     October 30, 2020       90         3.4                     Hindi
..                 ...      ...         ...                       ...
579  December 31, 2018      125         8.4                   English
580    October 9, 2015       91         8.4  English/Ukranian/Russian
581  December 16, 2018      153         8.5                   English
582   December 8, 2020       89         8.6                Portuguese
583    October 4, 2020       83         9.0                   English

[584 rows x 6 columns]

In [35]:
df1.shape

(584, 6)

## excess the specific column

In [22]:
column_lang=df1['Language']

In [23]:
English_count= (df1['Language'].str.contains('English', case=False)).sum()

In [24]:
print("Number of English movies is ",English_count)

Number of English movies is  422

## find total entries in Language column

In [25]:
Total_Entries_lang = df1['Language'].count()

In [26]:
print(Total_Entries_lang)

584

## Find the proportion

In [27]:
print("This is the proportion of English language movies ", English_count/Total_Entries_lang)

This is the proportion of English language movies  0.7226027397260274

In [28]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 584 entries, 0 to 583
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Title       584 non-null    object
 1   Genre       584 non-null    object
 2   Premiere    584 non-null    object
 3   Runtime     584 non-null    int64
 4   IMDB Score  584 non-null    float64
 5   Language    584 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 27.5+ KB

,Title,Genre,Premiere,Runtime,IMDB Score,Language
0,Enter the Anime,Documentary,"August 5, 2019",58,2.5,English/Japanese
1,Dark Forces,Thriller,"August 21, 2020",81,2.6,Spanish
2,The App,Science fiction/Drama,"December 26, 2019",79,2.6,Italian
3,The Open House,Horror thriller,"January 19, 2018",94,3.2,English
4,Kaali Khuhi,Mystery,"October 30, 2020",90,3.4,Hindi