In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
# Load the data
census_data = pd.read_csv('census_data.csv')
census_data.head()

,Unnamed: 0,first_name,last_name,birth_year,voted,num_children,income_year,higher_tax,marital_status
0,0,Denise,Ratke,2005,False,0,92129.41,disagree,single
1,1,Hali,Cummerata,1987,False,0,75649.17,neutral,divorced
2,2,Salomon,Orn,1992,True,2,166313.45,agree,single
3,3,Sarina,Schiller,1965,False,2,71704.81,strongly agree,married
4,4,Gust,Abernathy,1945,False,2,143316.08,agree,married

In [4]:
census_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      100 non-null    int64
 1   first_name      100 non-null    object
 2   last_name       100 non-null    object
 3   birth_year      100 non-null    object
 4   voted           100 non-null    bool
 5   num_children    100 non-null    int64
 6   income_year     100 non-null    float64
 7   higher_tax      100 non-null    object
 8   marital_status  100 non-null    object
dtypes: bool(1), float64(1), int64(2), object(5)
memory usage: 6.5+ KB

In [5]:
print(census_data.dtypes)

Unnamed: 0          int64
first_name         object
last_name          object
birth_year         object
voted                bool
num_children        int64
income_year       float64
higher_tax         object
marital_status     object
dtype: object

In [6]:
print(census_data['birth_year'].unique())

['2005' '1987' '1992' '1965' '1945' '1951' '1963' '1949' '1950' '1971'
 '2007' '1944' '1995' '1973' '1946' '1954' '1994' '1989' '1947' '1993'
 '1976' '1984' 'missing' '1966' '1941' '2000' '1953' '1956' '1960' '2001'
 '1980' '1955' '1985' '1996' '1968' '1979' '2006' '1962' '1981' '1959'
 '1977' '1978' '1983' '1957' '1961' '1982' '2002' '1998' '1999' '1952'
 '1940' '1986' '1958']

In [8]:
census_data['birth_year'] = census_data['birth_year'].replace(['missing'],1967)

In [9]:
print(census_data['birth_year'].unique())

['2005' '1987' '1992' '1965' '1945' '1951' '1963' '1949' '1950' '1971'
 '2007' '1944' '1995' '1973' '1946' '1954' '1994' '1989' '1947' '1993'
 '1976' '1984' 1967 '1966' '1941' '2000' '1953' '1956' '1960' '2001'
 '1980' '1955' '1985' '1996' '1968' '1979' '2006' '1962' '1981' '1959'
 '1977' '1978' '1983' '1957' '1961' '1982' '2002' '1998' '1999' '1952'
 '1940' '1986' '1958']

In [11]:
census_data['birth_year']=census_data['birth_year'].astype(int)

In [12]:
census_data.dtypes

Unnamed: 0          int64
first_name         object
last_name          object
birth_year          int32
voted                bool
num_children        int64
income_year       float64
higher_tax         object
marital_status     object
dtype: object

In [13]:
print(census_data['birth_year'].mean())

1973.4

In [14]:
'''Your manager would like to set an order to the higher_tax variable so that: strongly disagree < disagree < neutral < agree < strongly agree.

#Convert the higher_tax variable to the category data type with the appropriate order, then print the new order using the .unique() method.'''

'Your manager would like to set an order to the higher_tax variable so that: strongly disagree < disagree < neutral < agree < strongly agree.\n\n#Convert the higher_tax variable to the category data type with the appropriate order, then print the new order using the .unique() method.'

In [15]:
census_data['higher_tax'] = pd.Categorical(census_data['higher_tax'], ['strongly disagree', 'disagree', 'neutral', 'agree', 'strongly agree'], ordered= True)

In [17]:
print(census_data['higher_tax'].unique())

['disagree', 'neutral', 'agree', 'strongly agree', 'strongly disagree']
Categories (5, object): ['strongly disagree' < 'disagree' < 'neutral' < 'agree' < 'strongly agree']

In [20]:
# finding median
census_data['higher_tax']=census_data['higher_tax'].cat.codes

In [21]:
census_data['higher_tax'].median()

2.0

In [24]:
census_data = pd.get_dummies(census_data, columns=['marital_status'])

In [25]:
print(census_data)

    Unnamed: 0  first_name   last_name  birth_year  voted  num_children  \
0            0      Denise       Ratke        2005  False             0
1            1        Hali   Cummerata        1987  False             0
2            2     Salomon         Orn        1992   True             2
3            3      Sarina    Schiller        1965  False             2
4            4        Gust   Abernathy        1945  False             2
..         ...         ...         ...         ...    ...           ...
95          95      Carisa       Hills        1958  False             3
96          96      Tameka     Collins        2001  False             1
97          97       Adams    Leuschke        1987  False             0
98          98  Earnestine     Gutmann        1985   True             4
99          99        Rosa  Runolfsson        1961   True             3

    income_year  higher_tax  marital_status_divorced  marital_status_married  \
0      92129.41           1                    False                   False
1      75649.17           2                     True                   False
2     166313.45           3                    False                   False
3      71704.81           4                    False                    True
4     143316.08           3                    False                    True
..          ...         ...                      ...                     ...
95    157117.14           3                    False                    True
96     61518.34           0                    False                   False
97     41784.87           4                    False                   False
98     79021.46           1                    False                   False
99     82300.02           4                    False                   False

    marital_status_single  marital_status_widowed
0                    True                   False
1                   False                   False
2                    True                   False
3                   False                   False
4                   False                   False
..                    ...                     ...
95                  False                   False
96                   True                   False
97                   True                   False
98                  False                    True
99                   True                   False

[100 rows x 12 columns]