In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Load the data
census_data = pd.read_csv('census_data.csv')
census_data.head()

,Unnamed: 0,first_name,last_name,birth_year,voted,num_children,income_year,higher_tax,marital_status
0,0,Denise,Ratke,2005,False,0,92129.41,disagree,single
1,1,Hali,Cummerata,1987,False,0,75649.17,neutral,divorced
2,2,Salomon,Orn,1992,True,2,166313.45,agree,single
3,3,Sarina,Schiller,1965,False,2,71704.81,strongly agree,married
4,4,Gust,Abernathy,1945,False,2,143316.08,agree,married

In [3]:
census_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      100 non-null    int64
 1   first_name      100 non-null    object
 2   last_name       100 non-null    object
 3   birth_year      100 non-null    object
 4   voted           100 non-null    bool
 5   num_children    100 non-null    int64
 6   income_year     100 non-null    float64
 7   higher_tax      100 non-null    object
 8   marital_status  100 non-null    object
dtypes: bool(1), float64(1), int64(2), object(5)
memory usage: 6.5+ KB

In [5]:
print(census_data.dtypes)

Unnamed: 0          int64
first_name         object
last_name          object
birth_year         object
voted                bool
num_children        int64
income_year       float64
higher_tax         object
marital_status     object
dtype: object